@import '../main.styles.scss';

.main-logo {
    //width: 100%;
    //height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    &__logo {
        //position: absolute;
        //z-index: 2;
        //right: 50rem;
        //top: 20rem;
        width: 30rem;
        //width: 100%;
        image-rendering: pixelated;
    }
}